extends ../layout

block content
    h1#title=title

    form(method='POST' action='')
        label(for='title') Title:
        input#title(type='text' name='title'
                value=(course === undefined ? '' : course.title))
        br
        label(for='articles') Articles:
        br
        select#articles(multiple placeholder='Select articles' name='articles')
            each article in articles
                if course
                    option(value=article._id selected=course.articles.includes(article._id)) #{article.title}
                else
                    option(value=article._id) #{article.title}
        br
        button(type='submit') Submit