extends ../layout

block content
    h1#title= course.title

    ul
      each node in course.nodes
        li
          a(href=node.article.url) #{node.article.title}
    
    div#map
      canvas#canvas

    p
      a(href=course.url+'/delete') Delete
    p
      a(href=course.url+'/update') Update

block scripts
  script.
    const course = !{JSON.stringify(course)};
  script(src='/javascripts/courseUIController.js')
  script(src='/javascripts/courseDetail.js')